.howItWorks{
    padding-bottom: 10rem;
}

.howItWorks-wrapper{
    width: 80%;
    margin: 0rem auto;
}

.howItWorks .heading-container{
    text-align: center;
    align-items: center;
    gap: 1.5rem;
}

.howItWorks .subtitle{
    color: #0D8772;
}

.howItWorks .heading-v1{
    color: #292929;
    padding: 0rem 21vw;
}

.howItWorks .card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: 6rem 0rem 4rem 0rem;
    padding: 0rem 3rem;
}

.howItWorks .card{
    border: 1px solid #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    padding: 4rem 3rem;
    border-radius: 1rem;
}

.howItWorks .card:hover{
    border-color: var(--white);
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.05);
}

.howItWorks .image-wrapper{
    width: 7rem;
    height: 7rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.howItWorks .animated-circle{
    width: 7rem;
    height: 7rem;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    animation: circleAnimation 2s ease-in-out infinite;

}

.animated-circle.purple{
    background-color: #EBDDFD;
}
.animated-circle.yellow{
    background-color: #FFF0CD;
}
.animated-circle.orange{
    background-color: #FFE8E0;
}

@keyframes circleAnimation {
    0%, 100% {
        width: 7rem;
        height: 7rem;
    }

    50% {
        width: 4rem;
        height: 4rem;
    }
  }

.howItWorks .card-heading{
    font-size: 1.7rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: 0.01em;
    color: #292929;
}

.howItWorks .card-desc{
    font-size: 1.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.6em;
    letter-spacing: 0.01em;
    color: #6F6F75;
    padding: 0rem 1vw;
}

@media only screen and (max-width: 1024px) {
    .howItWorks-wrapper{
        width: 90%;
    }
    .howItWorks .card-container{
        padding: 0%;
    }
}

@media only screen and (max-width: 868px) {
    .howItWorks .heading-v1{
        padding: 0rem 17vw;
    }
    .howItWorks .card-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .howItWorks .card-container :last-child{
        grid-column: 1/3;
    }
}

@media only screen and (max-width: 500px) {

    .howItWorks .heading-v1{
        padding: 0rem 5vw;
    }

    .howItWorks .card-container{
        grid-template-columns: 1fr;
    }

    .howItWorks .card-container :last-child{
        grid-column: 1/2;
    }
}


